#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
//#include <dt-bindings/zmk/bt.h>
//#include <dt-bindings/zmk/outputs.h>

#define AL1 0
#define AL2 1
#define SYM 2
#define NUM 3
//#define FUN 4

#define BRIU &kp C_BRI_UP
#define BRID &kp C_BRI_DN
#define SWITCH &kp LA(TAB)

/ {
    // layer1 on hold, layer2 sticky on tap
    behaviors {
        ms: behavior_mo_sticky {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&sl>;
        };
    };
};

//  ________________________________________________
// |   0 |   1 |   2 |   3 ||   4 |   5 |   6 |   7 |
// |   8 |   9 |  10 |  11 ||  12 |  13 |  14 |  15 |
// |     |    16     |  17 ||  18 |     19    |     |
// --------------------------------------------------

/ {
    keymap {
        compatible = "zmk,keymap";

        al1 {
            bindings = <
                &kp A      &kp R      &kp S      &kp T      &kp N      &kp E      &kp I      &kp O
                &kp X      &kp C      &kp V      &kp D      &kp H      &kp COMMA  &kp DOT    &kp SLASH
                                 &kp LSFT        &kp SPACE  &ms SYM AL2      &mo NUM
            >;
        };
        al2 {
            bindings = <
                &kp Q      &kp W      &kp F      &kp P      &kp L      &kp U      &kp Y      &kp SQT
                &kp Z      &kp SEMI   &kp B      &kp G      &kp J      &kp K      &kp M      &kp MINUS
                                 &trans          &trans     &trans           &trans
            >;
        };
        sym {
            bindings = <
                &kp LPAR   &kp ESC    &kp TAB    &kp RET    &kp DOWN   &kp UP     &kp RIGHT  &kp RPAR
                &kp LBKT   &kp LBRC   &kp BSLH   &kp GRAVE  &kp LEFT   SWITCH     &kp RBRC   &kp RBKT
                                 &trans          &kp BSPC   &trans           &trans
            >;
        };
        num {
            bindings = <
               &bootloader  &sk LGUI   BRIU      &kp N6     &kp N0     &kp N1     &kp N2     &kp N8
                &trans      &sk LCTRL  BRID      &kp N7     &kp N3     &kp N4     &kp N5     &kp N9
                                 &trans          &trans     &trans           &trans
            >;
        };
    };
};
