#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
//#include <dt-bindings/zmk/bt.h>
//#include <dt-bindings/zmk/outputs.h>

#define AL1 0
#define AL2 1
#define SYM 2
#define NUM 3
//#define FUN 4

#define BRIU &kp C_BRI_UP
#define BRID &kp C_BRI_DN
#define SWITCH &kp LA(TAB)
#define BOOT &bootloader

#define COMBO(NAME, BINDINGS, KEYPOS) \
combo_##NAME { \
    timeout-ms = <40>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <AL1>; \
};

#define COMBOS_TOP(LTPR, LTRM, LTMI, BTII, RTIM, RTMR, RTRP) \
  COMBO(_ltpr, LTPR, 0 1) \
  COMBO(_ltrm, LTRM, 1 2) \
  COMBO(_ltmi, LTMI, 2 3) \
  COMBO(_btii, BTII, 3 4) \
  COMBO(_rtim, RTIM, 4 5) \
  COMBO(_rtmr, RTMR, 5 6) \
  COMBO(_rtrp, RTRP, 6 7)
#define COMBOS_BTM(LBPR, LBRM, LBMI, BBII, RBIM, RBMR, RBRP) \
  COMBO(_lbpr, LBPR, 8 9) \
  COMBO(_lbrm, LBRM, 9 10) \
  COMBO(_lbmi, LBMI, 10 11) \
  COMBO(_bbii, BBII, 11 12) \
  COMBO(_rbim, RBIM, 12 13) \
  COMBO(_rbmr, RBMR, 13 14) \
  COMBO(_rbrp, RBRP, 14 15)

/ {
    combos {
        compatible = "zmk,combos";
        COMBOS_TOP(&kp Q, &kp W, &kp D, &kp M, &kp H, &kp G, &kp Y)
        COMBOS_BTM(&kp Z, &kp X, &kp B, &kp V, &kp K, &kp J, &kp SLASH)
    };

    // layer1 on hold, layer2 sticky on tap
    behaviors {
        ms: behavior_mo_sticky {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <140>;
            bindings = <&mo>, <&sl>;
        };
    };
};

//  ________________________________________________
// |   0 |   1 |   2 |   3 ||   4 |   5 |   6 |   7 |
// |   8 |   9 |  10 |  11 ||  12 |  13 |  14 |  15 |
// |     |    16     |  17 ||  18 |     19    |     |
// --------------------------------------------------

//       q     w     d      m     h     g     y
//       z     x     b      v     k     j     /
//  ________________________________________________
// |   a |   r |   s |   t ||   n |   e |   i |   o |
// |   ' |   c |   f |   p ||   l |   u |   , |   . |
// |     |           |     ||     |           |     |
// --------------------------------------------------
//  ________________________________________________
// |     |     |     |     ||     |     |     |   ; |
// |     |     |     |     ||     |     |     |   - |
// |     |    16     |  17 ||  18 |     19    |     |
// --------------------------------------------------
/ {
    keymap {
        compatible = "zmk,keymap";

        al1 {
            bindings = <
                &kp A      &kp R      &kp S      &kp T      &kp N      &kp E      &kp I      &kp O
                &kp SEMI   &kp C      &kp F      &kp P      &kp L      &kp U      &kp COMMA  &kp DOT
                                 &kp LSFT        &kp SPACE  &ms SYM AL2      &mo NUM
            >;
        };
        al2 {
            bindings = <
                &trans     &trans     &trans     &trans     &trans     &trans     &trans     &kp SQT
                &trans     &trans     &trans     &trans     &trans     &trans     &trans     &kp MINUS
                                 &trans          &trans     &trans           &trans
            >;
        };
        sym {
            bindings = <
                &kp LPAR   &kp ESC    &kp TAB    &kp RET    &kp DOWN   &kp UP     &kp RIGHT  &kp RPAR
                &kp LBKT   &kp LBRC   &kp BSLH   &kp GRAVE  &kp LEFT   SWITCH     &kp RBRC   &kp RBKT
                                 &trans          &kp BSPC   &trans           &trans
            >;
        };
        num {
            bindings = <
                BOOT       &sk LGUI   BRIU       &kp N6     &kp N0     &kp N1     &kp N2     &kp N8
                &kp EQUAL  &sk LCTRL  BRID       &kp N7     &kp N3     &kp N4     &kp N5     &kp N9
                                 &trans          &trans     &trans           &trans
            >;
        };
    };
};
